

  <h1>✔✔✔All Tasks✔✔✔</h1>
      <ul class="list-group list-group-flush">
        <% @tasks.each do |task| %>
        <li class="list-group-item"> ❎ <%= link_to(task.title, task_path(task)) %></li>
        <% end %>
        <%= link_to 'Add new task', new_task_path, class:'btn btn-info'%>
      </ul>


